<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
id="WebApp_ID" version="3.0">
    <servlet>
        <servlet-name>df.asi.nirvana0.Prophetie</servlet-name>
    </servlet>
 
    <servlet-mapping>
        <servlet-name>df.asi.nirvana0.Prophetie</servlet-name>
        <url-pattern>/v1/*</url-pattern>
    </servlet-mapping>
</web-app>
